.project-card-wrapper {
    width: 100%;
    /*height: 100%;*/
}

.project-card-header {
    display: flex;
    height:45px;
    font-size: 15px;
    background: #282d75;
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.project-card-title {
    font-family: "Press Start 2P", sans-serif;
    letter-spacing: 0px;
}

.project-card-title-icon {
    width: 40px;
}

.project-card-content {
    padding: 1rem 1rem;
    text-align: start;
}

.short-description {
    /*margin: 0 1rem;*/
}

.project-card-footer {
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.project-card-technologies {
    display: flex;
    gap: 3px;
}

.project-card-github-icon {
    width: 30px;
    height: 30px;
    color: white;
    overflow: visible;
}

.project-card-github-icon > svg {
    width: 100%;
    height: 100%;
}

.project-card-github-icon:hover {
    font-weight: bold;
    color: white;
    transform: scale(1.3,1.3);
    transition: 0.5s ease;
}

.project-card-spotlight {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: rgb(55 65 81);
    /*padding: 2rem;*/
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    max-width: 30rem;
    height: 100%;
    /*--spotlight-color: rgba(255, 255, 255, 0.05);*/
    /*  --spotlight-color: rgba(126, 20, 202, 0.05);*/
    box-shadow: rgba(0, 0, 0, 0.09) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.09) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.09) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project-card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #282d75, transparent 10%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.project-card-spotlight:hover {
    transform: scale(1.04,1.04);
    transition: 0.6s ease;
}

.project-card-spotlight:hover::before,
.project-card-spotlight:focus-within::before {
    opacity: 0.6;
}

/*.card-spotlight:hover {*/
/*    filter: drop-shadow(1rem 0rem 1rem rgba(120, 120, 120, 2.5));*/
/*}*/