.page-header-container {
    /*border: 2px solid #333;*/
    /*position: absolute;*/
    border-radius: 12px;
    max-width: 1200px;
    margin: 5rem auto;
    border: 1px solid #282d75;
}

@media (max-width: 1224px) {
    .page-header-container {
        height: 650px;
        width: 100vw;
        margin: 2rem auto;
    }
}

@media (max-width: 1020px) {
    .page-header-container {
        height: 550px;
    }
}

@media (max-width: 700px) {
    .page-header-container {
        height: 500px;
    }
}

@media (max-width: 500px) {
    .page-header-container {
        height: 500px;
    }
}