.bio-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .bio-page-container {
        flex-grow: 1;
        justify-content: flex-start;
    }
}