.projects-grid-wrapper {
    display: grid;
    padding: 4rem 0 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
    row-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}