.page-header-container-bio-page {
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    min-height: 220px;
    margin: 0 4rem;
    border: 1px solid #282d75;
    padding-left: 2rem;
    box-shadow: #282d75 0px 50px 100px -20px , #282d75 0px 30px 60px -30px, #282d75 0px -2px 6px 0px, #282d75 0px -2px 6px 0px inset;
}

@media (max-width: 1224px) {
    .page-header-container-bio-page {
        /*height: 650px;*/
        /*padding: 2rem;*/
        /*width: auto;*/
    }
}

/*@media (max-width: 1020px) {*/
/*    .page-header-container-bio-page {*/
/*        !*height: 550px;*!*/
/*        padding-left: 2rem;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .page-header-container-bio-page {
        /*margin: 0 1rem;*/
        height:100px;
        min-height: 158px;
    }
}

/*@media (max-width: 500px) {*/
/*    .page-header-container-bio-page {*/
/*        padding: 2rem;*/
/*        !*height: 500px;*!*/
/*    }*/
/*}*/