.modular-alternate-reverse-timeline {
    width: auto;
    /*height: 100%;*/
    position: relative;
    /*margin-top: 12rem;*/
}

.timeline-separator-dot {
    background: linear-gradient(200deg, #7c3aed, #182fff99) 0 0 / 200% 200%;
    border: 2px solid #5038ec;

    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;

}

.timeline-separator-dot-mobile {
    background: linear-gradient(200deg, #7c3aed, #182fff99) 0 0 / 200% 200%;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #5038ec;
}

.connector-top {
    height: 10px;
}

.connector-down {
    height: 50px;
}

.timeline-separator-custom {
    height: 200px;
}
