.modular-alternate-reverse-timeline-scrollable-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    padding-top: 3rem;
}

.modular-alternate-reverse-timeline-container-bar {
    position: absolute;
    height: 100%;
    width: 50%;
    border-right: 2px solid #282d75;
}