.orientation-timeline-spotlight-card {
    font-weight: bold;
}

.orientation-timeline-spotlight-card:hover {
    /*filter: brightness(150%);*/
}

.left-timeline-spotlight-card {
    display: flex;
    justify-content: flex-end;
}

.right-timeline-spotlight-card {
    display: flex;
    justify-content: flex-start;
}

.right-timeline-spotlight-card > .card-spotlight:hover {
    /*filter: drop-shadow(0.5rem 0rem 0.5rem rgba(120, 120, 120, 2.5));*/
    filter: drop-shadow(0rem 0rem 0.5rem rgba(120, 120, 120, 2.5));
}

.left-timeline-spotlight-card > .card-spotlight:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(120, 120, 120, 2.5));
    /*filter: drop-shadow(-0.5rem 0rem 0.5rem rgba(120, 120, 120, 2.5));*/
}