.timeline-spotlight-card-wrapper {
    font-weight: bold;
    width: 100%;
}

.timeline-spotlight-card-wrapper:hover {
    /*filter: brightness(150%);*/
}

.left-timeline-spotlight-card {
    display: flex;
    justify-content: flex-end;
}

.linear-timeline-spotlight-card {
    display: flex;
    justify-content: center;
}

.right-timeline-spotlight-card {
    display: flex;
    justify-content: flex-start;
}

.right-timeline-spotlight-card > .card-spotlight:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /*filter: drop-shadow(0.5rem 0rem 0.5rem rgba(120, 120, 120, 2.5));*/
    filter: drop-shadow(0rem 0rem 0.5rem rgba(120, 120, 120, 2.5));
}

.left-timeline-spotlight-card > .card-spotlight:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(120, 120, 120, 2.5));
    /*filter: drop-shadow(-0.5rem 0rem 0.5rem rgba(120, 120, 120, 2.5));*/
}