.card-spotlight {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: rgb(55 65 81);
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    max-width: 30rem;
    width: 100%;
    /*--spotlight-color: rgba(255, 255, 255, 0.05);*/
    /*  --spotlight-color: rgba(126, 20, 202, 0.05);*/
    box-shadow: rgba(0, 0, 0, 0.09) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.09) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.09) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #800080, transparent 10%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.timeline-card-header {
    display: flex;
    height:45px;
    font-size: 15px;
    background: linear-gradient(200deg, #7c3aed, #182fff99) 0 0 / 200% 200%;
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.timeline-card-icon {
    width: 50px;
    height: 30px;
    padding: 0 5px;
}

.timeline-title {
    font-family: "Arial Black", sans-serif;
    letter-spacing: 0;
}

.title-icon {
    width: 40px;
}

.timeline-spotlight-card-content {
    padding: 1rem 10px 1rem 15px;
}

.timeline-spotlight-card-content-paragraph {
    padding-bottom: 5px;
    text-align: start;
}

.timeline-spotlight-card-content-paragraph-numbered {
    text-align: start;
    font-size: 15px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.timeline-spotlight-card-content-paragraph-bulleted {
    text-align: start;
    font-size: 15px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.timeline-spotlight-card-content-paragraph-numbered > li {
    padding-bottom: 5px;
}

.timeline-spotlight-card-content-paragraph-bulleted > li {
    list-style: square;
    padding-bottom: 5px;
}